# Virtual Environment
.venv/
env/
venv/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.class

# Jupyter & Notebook checkpoints
.ipynb_checkpoints
.jupyter/

# Streamlit secrets (keep private)
.streamlit/secrets.toml

# Environment variables & runtime logs
.env
*.log

# Test screenshots & scratch images
*.png

# Docker data volumes (if local)
kafka_data/
mongodb_data/

# OS metadata & tooling caches
.DS_Store
Thumbs.db
.gemini/

